/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background: url("/assets/background.jpg");
    background-size: cover;
}

.white-panel{
    background: rgba(256, 256, 256, 0.9);
    padding: 30px !important;
    border: 1px solid #ccc;
}
.white-header{
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 32px;
    text-shadow: 0 1px 2px #383850;
}
.center{
    text-align: center;
}
#query{
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    height: 48px;
    padding: 0 35px;
}
#query + i{
    position: absolute;
    color: #cccccc;
    left: 10px;
    top: 12px;
    font-size: 25px;
}
.form-group{
    position: relative;
}
a#locateMe {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 20px;
}